body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    background-color: #EDF1F6;
    overflow-x: hidden;
  }

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
  }
  
p {
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  }

li {
  list-style: none;
  }

img { //保證圖片可以保持原圖大小，且在網頁縮小時仍能保證圖片自適應延伸，而不至於造成破版。
  max-width: 100%; // 網頁上會出現的最大圖片寬度就是圖片的原始寬度(不論網頁變多大)，但是如果網頁寬度小於圖片的原始寬度的話，這張圖片就會隨著網頁寬度而按比例縮小。
  }

  .swal2-top {
    top: 100px !important;

  }