.centerWrap {
    max-width: 920px;
    width: 100%;
}

.cart-list-img {
    // max-width: ;
    height: 80px;
    width: 120px;
    object-fit: cover;
}

.cart-list .input-group {
    width: 12%;
    height: 40px;
}
